
<div class="contain-to-grid fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="topleft"><a href="#">Portfolio</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>



  <section class="top-bar-section">



  <div class="text-right">
    <a class="left left-button " href="#work">My Work</a>
    <a class="left left-button" href="#about">About</a>

    <a href="https://github.com/WillRussell"><i class="fi-social-github icon1"></i></a>
    <a href="https://www.linkedin.com/profile/view?id=136915238&trk=spm_pic"><i class="fi-social-linkedin icon2"></i></a>


  </div>

</nav>
</div>

<div class="logo">
  <div class="row">


  <div class="large-6 columns text-right">
  </div>



    <div class="large-12 columns">
      <h1 class="headline">Will Russell</h1>
        <h4 class="text-center subtitle">Front-end Web Engineer </h4>
    </div>
  </div>
</div>


<div class="row work">
  <div id="work"class="large-12 columns">
    <h3 class="text-center my-work">My Web Apps</h3>

    <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-4 large-block-grid-4" data-clearing>
      <li class="text-center">
      Compass
        <a href="/images/compass.png">
        <img data-caption="<p><strong>I spent three weeks buildling Compass - an app that allows a user to see who their representatives in congress are and find basic information about their campaign finance and voting records. Compass is comprised of two separate applications - a middleman/javascript app on the front-end and a Rails API on the back-end built by Vance Faulkner.</p></strong><p>www.civic-compass.org</p>" src="/images/compass.png"></a>
      </li>
      <li class="text-center">
      HW Helper
        <a href="/images/help.png"> <img data-caption="<p><strong>HW Helper is a Ruby on Rails application designed for students in a class to post problems they're experiencing and help solve issues their peers may be stuck on. The app uses Devise among other ruby gems for the login/user verification system and Foundation's framework on the front-end for the layout.</strong></p><p>https://labsix.herokuapp.com</p>" src="/images/help.png"></a>
      </li>
      <li class="text-center">
      Github API Exercise
        <a href="/images/mirror.png"><img data-caption="<p><strong>This goal of this project was to create a mirror of my personal github profile using Javasacript and AJAX to talk to Github's API in order to dynamically display content on a static page. I used Bootstrap for the layout and styling. The source code can be found here: https://github.com/WillRussell/git-mirror</strong></p>" src="/images/mirror.png"></a>
      </li>
      <li class="text-center">
      Surf and Paddle
        <a href="/images/surf.png"><img data-caption="<p><strong>The Surf and Paddle project was an exercise in creating a website from a photoshop-like mockup, using Middleman, SASS, and experimenting with dynamic content using ERB.</p></strong>
        </div>" src="/images/surf.png"></a>
      </li>
    </ul>
    <br>
    <p class="text-center details">Click on each image for more details</p>

  </div>
</div>

  <hr>

 <div class="row about">
        <div id="about"class="medium-6 large-8 columns">
          <h3 class="text-center about">About Me</h3>
          <p class="text-justify about-content">I'm a web developer based in Durham, NC. I graduated from UNC in 2013 and studied Ruby on Rails engineering at The Iron Yard. I like building and designing dynamic web applications that look good everywhere. If you would like to work with me or just say hello,  feel free to drop me an email.</p>
        </div>
        <div class="medium-6 large-4 columns">
          <img class="profile-pic" src="https://media.licdn.com/media/p/6/005/0a3/2fc/3ba1b2a.jpg">
        </div>
      </div>


      <div class="row contact">


      </div>

<div class="yo">
      <footer class="row">
      <div class="text-right">
        <a  onClick="parent.location='mailto:wrussell35@gmail.com?'" id="contact" >Contact Me</a>
      </div>
          </div>
        </div>
      </footer>



