
<div class="contain-to-grid fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="topleft"><a href="#">WR's Portfolio</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

  <div class="text-right">
    <a href="https://github.com/WillRussell"><i class="fi-social-github icon1"></i></a>
    <a href="https://www.linkedin.com/profile/view?id=136915238&trk=spm_pic"><i class="fi-social-linkedin icon2"></i></a>

  </div>

</nav>
</div>

<div class="logo">
  <div class="row">


  <div class="large-6 columns text-right">
  </div>



    <div class="large-12 columns">
      <h1 class="headline">Will Russell</h1>
        <h4 class="text-center">Front-end Web Engineer </h4>
    </div>
  </div>
</div>


<div class="row work">
  <div class="large-12 columns">
    <h5 class="text-center">My Web Apps</h5>

    <ul class="clearing-thumbs small-block-grid-4 medium-block-grid-4 large-block-grid-4" data-clearing>
      <li>
        <a href="/images/compass.png">
        <img data-caption="caption here" src="/images/compass.png"></a>
      </li>
      <li>
        <a href="/images/help.png"><img data-caption="caption 2 here..." src="/images/help.png"></a>
      </li>
      <li>
        <a href="/images/mirror.png"><img data-caption="caption 3 here..." src="/images/mirror.png"></a>
      </li>
      <li>
        <a href="/images/surf.png"><img data-caption="building and designing dynamic web applications. If you would like to work with me or just say hello, please feel free to drop me an email.</p>
        </div>" src="/images/surf.png"></a>
      </li>
    </ul>
    <p class="text-center">Click on each image to see more details</p>

  </div>
</div>

  <hr>

 <div class="row about">
        <div class="medium-6 large-8 columns">
          <h5 class="text-center">About</h5>
          <p class="text-justify">I'm a web developer based in Durham, NC. I like building and designing dynamic web applications. If you would like to work with me or just say hello, please feel free to drop me an email.</p>
        </div>
        <div class="medium-6 large-4 columns">
          <img src="https://media.licdn.com/media/p/6/005/0a3/2fc/3ba1b2a.jpg">
        </div>
      </div>


      <div class="row contact">
        <hr>

      </div>

<div class="yo">
      <footer class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-6 columns">
<!--               <p>Contact me</p>
 -->            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Contact Me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
